{% extends 'base.html' %}

{% block head %}
<title>Task Manager</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Task Lists</h1>
    {% if lists|length < 1 %}
    <h4 style="text-align: center">There are no task lists. Create one below!</h4>
    {% else %}
    <table border="1px">
        <tr>
            <th>Lists</th>
            <th>Actions</th>
        </tr>
        {% for list in lists %}
            <tr>
                <td><a href="/lists/{{list.id}}">{{ list.description }}</a></td>
                <td>
                    <a href="/lists/{{list.id}}/delete">Delete</a>
                    <br>
                    <a href="/lists/{{list.id}}/rename">Rename</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}

    <div class="form">
        <form action="/" method="POST">
            <input type="text" name="content" id="content" placeholder="name or description..." minlength="1" maxlength="10000" autofocus>
            <input type="submit" value="Add List">
        </form>
    </div>
</div>
{% endblock %}
